<header>
  <h1>Pokemon Gallery</h1>
  <div class="top-right">
    <% if (user) { %>
      <div class="greeting">
        <p> Hi, <%= user.firstname %> ! </p>
      </div>
      <a id="logoutBtn" href="/auth/logout">Logout</a>
    <% } else { %>
        <a id="loginBtn" href="/auth/login">Login</a>
    <% } %> 
  </div>
</header>
<nav>
  <a id="homePageBtn" href="/"> Home </a>
  <a id="searchPageBtn" href="/search"> Search </a>
  <a id="eventHistoryPageBtn" href="/account"> Account </a>
  <a id="shoppingCartPageBtn" href="/shoppingCart"> Cart </a>
</nav>