<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/game.style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="/scripts/helpers.js"></script>
    <script defer type="module" src="/scripts/navEventHandlers.js"></script>
    <script defer type="module" src="/scripts/game.js"></script>
    <title>Pokemon App</title>
  </head>
  <body>
    <%- include("./partials/headerAndNav", {user: user}); %>
    <main>
      <div id="game-wrapper">
        <div id="game-configs">
          <div class="width input-wrapper">
            <label for="width">Width</label>
            <input type="text" name="width" id="width">
          </div>
          <div class="length input-wrapper">
            <label for="length">Length</label>
            <input type="text" name="length" id="length">
          </div>
          <div class="num-of-pokemons input-wrapper">
            <label for="pokemonNums">Number of Pokemons</label>
            <input type="text" name="pokemonNums" id="pokemonNums">
          </div>
          <button id="start-btn">Start</button>
        </div>
        <div class="message"></div>
        <div class="timer"></div>
        <div id="game-grid">
        </div>
      </div>
    </main>

    <%- include("./partials/footer"); %>
  </body>
</html>
