<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="style.css" />
    <script type="module" src="/scripts/helpers.js"></script>
    <script defer type="module" src="/scripts/navEventHandlers.js"></script>
    <script defer type="module" src="/scripts/code.js"></script>
    <title>Pokemon App</title>
  </head>
  <body>
    <%- include("./partials/headerAndNav", {user: user}); %> 
    </nav>
    <main>
      <div id="gallery-wrapper" class="gallery-wrapper">
      
      </div>
   </main>
   <%- include("./partials/footer"); %> 

  </body>
</html>
