.header {
  width: 85%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

#user-list-wrapper {
  width: 85%;
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.name > span {
  margin-left: 1rem;
  color: blue;
}

.isAdmin {
  color: brown;
}