
#game-configs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

.input-wrapper input {
  margin-left: 3px;
  width: 2rem;
}
#start-btn {
  width: 60px;
  height: 30px;
}

.error-message {
  text-align: center;
  color: brown;
  margin-bottom: 2rem;
}

#game-grid{
  margin: auto;
  padding: 2rem;
  border: 1rem tomato solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: 600px; */
  perspective: 700px;
  gap: 10px
}

.card{
  width: 100px;
  height: 120px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}


.front_face, .back_face{
  position: absolute;
  backface-visibility: hidden;
}

.front_face {
  transform: rotateY(180deg);
}


.flip {
  transform: rotateY(180deg);
}