body {
  margin: 0px;
}


.game-grid {
  border: 2px tomato solid;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;

}


.card {
  width: 25%;
  position: relative;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY()
}

img {
  width: 100px;
  height: 125px;
}


.front_face, .back_face {
  position: absolute;

}