body {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: black;
}

.form {
  width: 400px;
  max-width: 400px;
  margin: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: lightgrey;
}

.form-title {
  font: 500 1rem;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.btn {
  font: 500 1rem;
  font-family: "Nunito", sans-serif;
}

.btn:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
}

a:hover {
  color: #84d4ff;
}

.error-message {
  margin-top: 1rem;
  color: red;
}

#signup, #login {
  margin-top: 1rem;
}

