<header>
  <h1>Pokemon Gallery</h1>
</header>
<nav>
  <a id="homePageBtn" href="/"> Home </a>
  <a id="searchPageBtn" href="/search"> Search </a>
  <a id="eventHistoryPageBtn" href="/eventHistory"> History </a>
</nav>